body {
  font-family: "Microsoft JhengHei", sans-serif;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #090909;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #014b2d;
  color: rgb(245, 236, 236);
}

tr:nth-child(even) {
  background-color: #f0e9e9;
}

caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
